 
.rotate-bg {
  background: url(../images/border-bg.png) no-repeat center center;
  background-size: 90% 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
   animation:rotate 45s infinite linear;
  -webkit-animation:rotate 45s infinite linear; 
  transform-origin:50% 50%;
  backface-visibility: hidden; /*防止页面抖动*/
}

/*旋转动画*/
@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.webs-group polygon {
  fill: #a4fcf9;
  fill-opacity: 0.5;
  stroke: #66defd;
  stroke-dasharray: 10 5;
}  
.lines-group {
  fill: #a4fcf9;
  fill-opacity: 0.5;
  stroke: #a4fcf9;
  stroke-dasharray: 5 5;
  stroke-width: 2;
}
.areas-group polygon {
  stroke-width: 3;
}
.webs-group polygon:nth-child(odd) {
  fill: #61d5f7;
}
 
.texts-group text {
  fill: white;
  text-anchor: middle;
}
.radar .charts-tooltip p i{
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f36b26;
  float: left;
  margin:9px 5px 0 0;
}
.radar .charts-tooltip p:last-child i{
  background: #fcea4f;
}
/*图例*/
.radar .legend {
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 4;
  li {
    line-height: 28px;
    padding: 5px 0;
    cursor: pointer;
  }
  li:last-child i {
    background: #fcea4f;
  }
  li.invalid i {
    background: #ccc;
  }
  i {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f36b26;
    float: left;
    margin:9px 5px 0 0;
    pointer-events: none;
  }
  span {
    color: #fff;
    pointer-events: none;
  }
}