<div class="charts-tooltip">
    <p class="name">{{data.name}}</p>
    <p><i></i>2017年:<span class="value1">{{data.value1}}</span></p>
    <p><i></i>2016年:<span class="class="value2"">{{data.value2}}</span></p>
</div>