<div class="charts-tooltip">
    <p class="name">{{data.name}}</p>
    <p class="value1">总数：{{data.value1}}</p>
    <p class="value2">驾驶证：{{data.value2}}</p>
    <p class="value3">身份证：{{data.value3}}</p>
</div>