<!-- 顶部导航 -->
<div class="header">
  <div class="logo"></div>
  <ul class="nav">
    <li type="main">首页</li>
    <li class="cur" type="charts">实例</li>
    <li type="documents">文档</li>
  </ul>
</div>
 

{{!-- <!-- 首页 -->
<div class="main-content content-wrap"></div>
<!-- 图表组件 -->
<div class="charts-content content-wrap"></div>
<!-- 文档 -->
<div class="documents-content content-wrap">待更新...</div> --}}

<!-- 图表弹窗 -->
<div class="charts-content-popup"></div>
<!-- 热力图弹窗 -->
<div class="heatmap-content-popup"></div>
<!-- 旋转地图 -->
<div class="earth-content-popup"></div>